* {
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 0; /* Footer sa automaticky posunie dolu */
  background: #333;
  color: white;
  text-align: center;
  padding: 5px;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.75rem;
  }
}