.showsCards-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  
  .showsCards-grid {
    width: 95%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to right, #f6cfbe, #b9dcf2);
  }

  .showsCards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #f6cfbe, #b9dcf2);
  }
    
  .showCards-card {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .showCards-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .showCards-image {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
  }
  
  .showCards-info {
    padding: 15px;
    text-align: center;
  }
  
  .showCards-info h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .showCards-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }